################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
hooks-directory = ${buildout:directory}/hooks
eggs-directory=${buildout:directory}/../../eggs/cache
develop-eggs-directory=${buildout:directory}/../../eggs/develop-eggs
[part]
recipe = minitage.recipe.cmmi
url = http://kernel.org/pub/software/scm/git/git-1.7.3.2.tar.bz2
configure-options= CFLAGS="$CFLAGS" CPPFLAGS"=$CFLAGS" LDFLAGS="$LDFLAGS"
    --with-perl=${buildout:directory}/../perl-5.8/parts/part/bin/perl
    --with-expat=${buildout:directory}/../expat-2.0/parts/part/
    --with-curl=${buildout:directory}/../curl-7/parts/part/
    --with-openssl=${buildout:directory}/../openssl-0.9/parts/part/
md5sum=902f7f07a789fedc0d2ac03656b85969



[mirrors]
gentoo=mirror.muntinternet.net/pub

